*{
  font-family: 'Montserrat', sans-serif;
}
a:-webkit-any-link{
text-decoration:none !important;
}

.container{
  background-color: white;
  margin-top: 50px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 50px;
  padding: 50px;
  border-radius: 20px;
}
.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(231, 102, 108);
  color: black;
  text-align: center;
}
.topnav {
    background-color:rgb(197, 73, 93);
    overflow: hidden;
    width: 100%;
}
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(255, 198, 198);
  color: black;
}

.topnav a.active {
  background-color: rgb(255, 198, 198);
  color: white;
}
.topnav-right {
  float: right;
}
.container table tr td .fa{
  height: 150px;
  width: 150px;
  font-size: 100px;
  text-align: center;
  color: black;
  margin-top: 50px;
}
.container a .fas{
  cursor: pointer;
}
.form{
  background-color: pink;
  padding-left: 50px;
  padding-right: 50px;
  padding: 20px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0fe267;
  color: black;
  padding: 12px 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset] {
  background-color: #ddddddb7;
  color: black;
  padding: 12px 80px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: pink;
  color: white;
}
input[type=reset]:hover {
  background-color: pink;
  color: black;
}

.container .info p{
  text-align: justify;
  line-height: 2.5;
}
.container .info ul{
  margin: 10px 0;
}
